
#Ignore these folders and files.

network/network_v1.odp
network/noche_de_los_museos_2024.lnk

index_claude_1.html
index_claude_2.html
index_chatgpt_1.html
index_gemini_1.html

#Ignore these image formats.
#*.jpeg
#*.jpg
#*.png
#*.svg
#*.eps

#Ignore these Matlab formats.
#*.fig
#*.log
#*.mat
#*.asv

#Ignore these file formats.
#*.lnk
#*.odt
#*.pdf
#*.xlsx
#*.odp
#*.pptx
