
#Ignore these folders and files.

network/network_v1.odp
network/noche_de_los_museos_2024.lnk

#Ignore these image formats.
#*.jpeg
#*.jpg
#*.png
#*.svg
#*.eps

#Ignore these Matlab files.
#*.fig
#*.log
#*.mat
#*.asv

#Ignore these file formats.
#*.lnk
#*.odt
#*.pdf
#*.xlsx
#*.odp
#*.pptx
